.homePage{
  font-weight:bolder ;
}
.homePage--homecont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: spa;
  align-items: center;
  align-content: center;
}
.homePage--homecont--cont{
  width: 290px ;
  height: 340px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}
.homePage--homecont--cont__img{
  max-width: 200px ;
  height: 220px;
}
.homePage--homecont--cont__text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
